body{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	padding: 20px;
	background-color: rgb(43, 168, 226);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}